[Unit]
Description=daemon for running linux containers
After=syslog.target
[Service]
Group=info2_containers
ExecStart=/usr/local/bin/lxc_daemon.py
Restart=on-abort
[Install]
WantedBy=multi-user.target